services:
  webscrapping:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./AIRFLOW/dags:/opt/airflow/dags
      - ./AIRFLOW/logs:/opt/airflow/logs
      - ./db-credentials.json:/opt/airflow/db-credentials.json
      - ./AIRFLOW/simple_auth_manager_passwords.json.generated:/opt/airflow/simple_auth_manager_passwords.json.generated

    ports:
      - "8080:8080"
    env_file:
      - .env
    command: airflow standalone